<!DOCTYPE html>
<html lang="pt-br">

    <!--Pagina de Login-->

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>

        <link rel="stylesheet" href="/frontend/css/main.css">
    </head>

    <body>
        <div id="container-login" class="page">
            <form method="POST" class="formLogin">
                <h1>Login</h1>
                <p>Digite os seus dados de acesso no campo abaixo.</p>
                <label for="nome">Nome</label>
                <input type="text" nome="nomes"id="nomes" placeholder="Digite o usuário" autofocus="true" required/>
                <label for="password">Senha</label>
                <input type="password" nome="senha" id="senha" placeholder="Digite sua senha" required/>
                <a href="">Esqueci minha senha</a>
                <input type="submit" nome = "acao" value="logar" class="btn" />
            </form>       
        </div>
    </body>
</html>
